body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to right bottom,
    rgba(159, 174, 198, 0.8),
    rgba(166, 173, 212, 0.8),
    rgba(183, 170, 222, 0.8),
    rgba(207, 165, 224, 0.8),
    rgba(235, 157, 218, 0.8)
  );
}
p {
  padding: 0 2rem;
}
main {
  width: 15in;
  max-width: 90vw;
  margin: auto;
}
.App {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

input[type="range"] {
  width: 100%;
  margin: 4.8px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #eb9dda;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb {
  margin-top: -5px;
  width: 16px;
  height: 18px;
  background: #9faec6;
  border: 0.5px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #f8ddf2;
}
input[type="range"]::-moz-range-track {
  background: #eb9dda;
  border: 0.2px solid #010101;
  border-radius: 1.3px;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-moz-range-thumb {
  width: 16px;
  height: 18px;
  background: #9faec6;
  border: 0.5px solid #000000;
  border-radius: 4px;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 4.8px 0;
  color: transparent;
  width: 100%;
  height: 8.4px;
  cursor: pointer;
}
input[type="range"]::-ms-fill-lower {
  background: #de5dc2;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]::-ms-fill-upper {
  background: #eb9dda;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type="range"]::-ms-thumb {
  width: 16px;
  height: 18px;
  background: #9faec6;
  border: 0.5px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0px;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #eb9dda;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #f8ddf2;
}

@supports (-ms-ime-align: auto) {
  input[type="range"] {
    margin: 0;
  }
}
hr {
  border: 2px solid #de5dc2;
  height: 4px;
  border-radius: 4px;
}
